.content {
    padding: 10px;
}

.timestamp {
    font-weight: bold;
}

#signature {
    font-size: 11px;
    padding-top: 10px;
}

.cmnt_quote_outter {
    background: #ccc;
}

.cmnt_quote {
    background: #aaa;
}

.comment {
    background: #ddd;
    margin-bottom: 12px;
}

.deleted {
    color: red;
}